.product-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .add-product-btn{
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      transition: background-color 0.3s;
  }
  
  .product-list th, .product-list td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .product-list th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .product-list tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .product-list tr:hover {
    background-color: #f5f5f5;
  }
  
  .product-name {
    font-weight: bold;
    color: #333;
  }
  
  .action-buttons {
    display: flex;
    gap: 10px;
  }
  
  .edit-button, .delete-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
    margin-right: 20px;
  }
  
  /* .edit-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  } */
  
  