<!-- <div>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search for products" />
  <button (click)="searchProducts()">Search</button>
</div>

<div class="admin-product-container">
  <div class="product-grid" style="max-width: 900px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;" *ngIf="products.length > 0">
    <div class="product-item" *ngFor="let item of products | slice:0:4">
      <a href="javascript:void(0)" (click)="goToProductDetails(item.id)">
        <img [src]="item.image" alt="{{ item.name }}" class="product-image" />
      </a>
      <div class="product-name">{{ item.name }}</div>
      <div class="product-price">{{ item.price }}</div>
      <button class="buttonAdd" (click)="addToCart(item)">Add to Cart</button>
    </div>
  </div>
</div> -->