<!-- <div class="admin-product-container">
    <div class="product-item" *ngFor="let item of data | slice:currentIndex:currentIndex + 1">
        <img [src]="item.image" class="product-image" />
    </div>
    <div class="button-container">
        <button (click)="nextImage()">Next</button>
        <button (click)="prevImage()">Prev</button>
    </div>    
    <div class="indicator-container">
        <span *ngFor="let item of data; let i = index" 
              [class.active]="i === currentIndex" 
              class="indicator"></span>
    </div>
</div> -->
