<!-- <div class="admin-product-container">
  
    <button class="add-product-btn">Thêm banner mới</button>
  
    <table class="product-list">
      <thead>
        <tr>  
          <th>ID</th>
          <th>Tên banner</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of banners">
          <td>{{ item.id }}</td>
          <td class="product-name">{{ item.name }}</td>
          <td class="action-buttons">
            <button class="edit-button" (click)="updateBanner(item.id)">Sửa</button>
            <button class="delete-button" (click)="deleteBanner(item)">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->