.admin-product-container {
    padding: 20px; /* Thêm khoảng cách bên trong cho container */
    text-align: center;
}

.product-grid {
    margin: 0 auto;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.product-item {
    background-color: #f9f9f9; /* Thêm màu nền cho từng sản phẩm */
    padding: 10px; /* Thêm khoảng cách bên trong cho từng sản phẩm */
    border: 1px solid #e0e0e0; /* Thêm viền cho từng sản phẩm */
    border-radius: 5px; /* Bo góc cho từng sản phẩm */
    transition: transform 0.2s; /* Hiệu ứng chuyển động khi hover */
}

button {
    background-color: #147ea2; /* Màu nền xanh */
    color: white; /* Màu chữ trắng */
    border: none; /* Không có viền */
    padding: 10px 15px; /* Khoảng cách bên trong */
    text-align: center; /* Căn giữa chữ */
    text-decoration: none; /* Không có gạch chân */
    display: inline-block; /* Hiển thị inline */
    font-size: 16px; /* Kích thước chữ */
    margin-top: 10px; /* Khoảng cách trên */
    cursor: pointer; /* Con trỏ chuột khi di chuột qua */
    border-radius: 5px; /* Bo góc */
}

.product-image {
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của sản phẩm */
    height: auto; /* Giữ tỷ lệ hình ảnh */
}

.product-name {
    font-weight: bold; /* Đậm tên sản phẩm */
    margin-top: 5px; /* Khoảng cách trên cho tên sản phẩm */
}

.product-price {
    color: #ff5722; /* Màu sắc cho giá sản phẩm */
    font-size: 1.2em; /* Kích thước chữ cho giá sản phẩm */
}